body {
  margin: 0;
  padding: 0;
}

#background {
  background: url(../../img/background.jpg);
  position: fixed;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  overflow: hidden;
  filter: contrast(110%);
}